/*Main Section*/
#main {
    margin: 0;
    padding:0;
    box-sizing: content-box;
}
/*Header*/
#header {
    background-color: #1F2937;
}
/*Navigation*/

/*End of Navigation*/
/*End of Header*/

/*End of Main Section*/